<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/cloud-upload-svgrepo-com.svg" />
  <title>Mini Cloud Drive</title>
</head>
<body>
  <%- include('header', { user }) %>
  <% if (user) { %>
    <%- include('main', { user }) %>
  <% } else { %>
    <% if (route) { %>
      <%- include(route) %>
    <% } else { %>
      <%- include('error') %>
    <% } %>
  <% } %>
</body>
</html>